<library path="src">
    <class name="demo" type="g_stream_control.rqt_plugin.DemoPlugin" base_class_type="rqt_gui_py::Plugin">
      <description>
        Demo rqt plugin
      </description>
      <qtgui>
        <group>
          <label>Demo</label>
        </group>
        <label>simple demo plugin</label>
        <icon type="theme">system-help</icon>
        <statustip>Simple demo plugin.</statustip>
      </qtgui>
    </class>
  </library>