<library path="src">
    <class name="demo" type="g_stream_control.rqt_plugin.DemoPlugin" base_class_type="rqt_gui_py::Plugin">
      <description>
        G Stream controller
      </description>
      <qtgui>
        <group>
          <label>g stream controller</label>
        </group>
        <label>g_stream controller</label>
        <icon type="theme">system-help</icon>
        <statustip>Control g_stream presets.</statustip>
      </qtgui>
    </class>
  </library>